/* ---------------------------------google font poppins & Plus Jakarta Sans--------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------------------------------custom styles--------------------------------- */

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--text-clr);
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-clr: #1D1E23;
    --header-clr: #222831;
    --text-clr: #fff;
    --btn-clr: #3671E9;
    --secondary-clr: #59C19C;
    --scrollbar-clr: #2c2c2c;
    --mediaBtn: #8D8D8D;
}

body {
    background: var(--bg-clr);
    color: var(--text-clr);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

body.light-mode {
    --bg-clr: #9AA6B2;
    --header-clr: #BCCCDC;
    --text-clr: #151414;
    --btn-clr: #151414;
    --secondary-clr: #F8FAFC;
    --mediaBtn: #393939;
}



/* ---------------------------------header styles--------------------------------- */

header.main-content {
    position: fixed;
    background: var(--header-clr);
    width: 100%;
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.main-content .logo-link {
    gap: 1rem;
    pointer-events: none;
}


.main-content .main-logo svg {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222831;
    border-radius: 50%;
}

.main-content .logo-text {
    font-size: 1.7rem;
    font-weight: 600;
}

.main-content .mood-content {
    gap: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--bg-clr);
    padding: 8px 12px;
    border-radius: 10px;
}

.main-content .mood-content .mood-icon {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .mood-content .mood-text {
    font-size: 1rem;
    font-weight: 500;
}

/* =================================header response styles============================= */

@media screen and (max-width: 600px) {
    header.main-content {
        padding: 1.5rem 1.5rem;
    }

    header.main-content .logo-text {
        display: none;
    }

    header.main-content .mood-content .mood-icon {
        font-size: 1.3rem;
    }

    header.main-content .mood-content .mood-text {
        font-size: 1rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 400px) {
    header.main-content {
        padding: 1rem 1rem;
    }
    
}

/* ---------------------------------main styles--------------------------------- */

main.main-container {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.main-container .search-container { 
    width: 100%;
    max-height: 50px;
    margin-top: 20px;
    max-width: 500px;
    background: var(--header-clr);
    border-radius: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 50px;
}


main.main-container .search-container:focus {
    border: 0px  1px solid var(--btn-clr);
    border-radius: 8px;
    height: 50px;
}

.search-container .search-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
}

.search-container .search-content input.search-input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
}

.search-container .search-content input.search-input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}

.search-container .search-content input.search-input:focus{
    border: 1px solid var(--btn-clr);
    border-radius: 8px;
    height: 50px;
}

.search-container .search-content button.search-btn {
    color: var(--text-clr);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.image-show-container { 
    column-count: 4; 
    column-gap: 15px; 
    padding: 20px;
    place-items: center;
}

section.image-show-container .result-box {
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-top: 20px;
}

.image-show-container .result-box .loading {
    position: absolute;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.image-show-container .div-container {
    break-inside: avoid;
    margin-bottom: 15px;
    position: relative;
}


section.image-show-container img {
    width: 100%; 
    margin-bottom: 15px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

section.image-show-container img:hover {
    transform: scale(1.05);
}


.download-btn {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: var(--bg-clr);
    color: var(--text-clr);
    border: none;
    padding: 5px 5px;
    border-radius: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ===============================main response styles===============================*/

@media (max-width: 1240px) {
    section.image-show-container {
        column-count: 3; 
    }
} 

@media (max-width: 768px) {
    section.image-show-container {
        column-count: 2; 
    }
}

@media (max-width: 500px) {
    .main-container .search-container {
        width: 430px !important;
    }
}

@media (max-width: 460px) {
    section.image-show-container {
        column-count: 1;
    }

    .main-container .search-container {
        width: 400px !important;
    }

    section.image-show-container img:hover {
        transform: scale(1) !important;
    }
}

@media (max-width: 425px) {
    .main-container .search-container {
        width: 360px !important;
    }
}

@media (max-width: 381px) {
    .main-container .search-container {
        width: 300px !important;
    }
}



/* ---------------------------------all access styles--------------------------------- */

.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    width: 100%;
    height: calc(100vh - 1100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: var(--mediaBtn);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
